<launch>
	<node pkg="aa241x_commander" type="modeController.py" name="modeController" output="screen" />
	<node pkg="aa241x_commander" type="Navigator.py" name="Navigator" output="screen" />
	<node pkg="aa241x_commander" type="Controller.py" name="Controller" output="screen" />
	<node pkg="aa241x_commander" type="beaconLocalization.py" name="beaconLocalization" output="screen" />
</launch>
